* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
           
            font-family: Arial, sans-serif;
        }
        header {
            background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_yoD-88tLkW7eVFl9on70vuw_Gb_S1zm6_6dSpyoNfVnXKHcj9dfSR3SLJq-mPAUAQsc&usqp=CAU') center/cover no-repeat;
            color: #fff;
            text-align: center;
            padding: 20px 0;
        }
        .logo {
            width: 100px;
        }
        h1 {
            font-size: 36px;
            margin-bottom: 20px;
        }
        .navbar {
            background-color: #333;
            overflow: hidden;
        }
        .navbar a {
            float: left;
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        .navbar a:hover {
            background-color: #3498db;
            color: white;
        }

        .navbar .login-button {
            float: right;
            background-color:#3498db ;
        }
        .navbar .login-button:hover{
            background-color: #333;
            color: white;
            font-size: 20px;
        }
        .cta-button {
            background-color: #3498db;
            color: #fff;
            padding: 15px 30px;
            border: none;
            border-radius: 5px;
            text-transform: uppercase;
            text-decoration: none;
        }

        n */
        .cta-button {
            display: inline-block;
        }
        .main-content {
            text-align: center;
            padding: 40px;
             color: blueviolet;
        }
        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
           
        }


        .feature-box {
            flex: 0 0 30%; 
            margin: 20px;
            color: black;
            background-color: #F9FDFD;
            padding: 20px;
            text-align: center;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .feature-box:nth-child(1) {
           
        }

        .feature-box:nth-child(2) {
           
        }

        .feature-box:nth-child(3) {
            
        }

        
        @media (max-width: 768px) {
            .feature-box {
                flex: 0 0 100%; 
            }
        }

        .about-section {
            background-color: ;
            padding: 40px 0;
            text-align: center;
        }

        .about-section h2 {
            font-size: 28px;
            margin-bottom: 20px;
            color: blueviolet;
        }
        .services {
            background-color:;
            padding: 60px 0;
        }

        .services h2 {
            font-size: 28px;
            margin-bottom: 20px;
            color: blueviolet;
            text-align: center;
        }

        .service-item {
            text-align: center;
        }
        .service-item:nth-child(1) {
            text-align: left;

        }

        .service-item:nth-child(2) {
            text-align: center;
        }

        .service-item:nth-child(3) {
            text-align: right;
        }
        .help-contact-section {
            background-color:;
            padding: 40px 0;
            text-align: center;
        }

        .help-contact-section h2 {
            font-size: 28px;
            margin-bottom: 20px;
            color: blueviolet;
        }